@font-face {
    font-family: Goldman Sans;
    src: url("../public/GoldmanSans_W_Rg.woff2") format("woff2")
}

html{
}
.NavTabs{
    position:fixed;
    z-index: 999;
}

.FloatingActionButtons{
    position: fixed;
    z-index: 9999;
    bottom: 10px;
}