@font-face {
    font-family: Goldman Sans;
    src: url("../public/GoldmanSans_W_Rg.woff2") format("woff2")
}

@media only screen and (max-width: 1023px) {
    .NavTabs{
        position: static;
    }
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.NavTabs{
    position:fixed;
    z-index: 999;
}

.FloatingActionButtons{
    position: fixed;
    z-index: 9999;
    bottom: 10px;
}